# IDEs
.idea/
.vscode/

# Python environment
.venv

# Maven (backend/)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# React (frontend/)
frontend/node_modules/
frontend/.next/

# Large Models
backend/models/
*.gguf

